<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
    <title>Chat App</title>
    <link rel="stylesheet" th:href="@{/style.css}" />
    <meta charset="utf-8" />
</head>
<body>
<h1>Peer to Peer Chat program</h1>
<form>
    <input name="name" type="text" value="Anita" />
<button type="submit" value="Submit">update</button>

    </br>
    <div>
    <ul>
        <li>Username</li>
        <span> Put your text here , i love thymeleafe</span>
    </ul>

    </div>
    </br>
    </br>

    <textarea cols="30" rows="2">Wrtie smthing</textarea>
    <button type="submit" value="Submit">Submit</button>
</form>

</body>
</html>